In [2]:
import numpy as np
import pandas as pd

In [4]:
zni_df = pd.read_csv('C:\workspace\Kaggle-X\datasets\Estado_de_la_prestaci_n_del_servicio_de_energ_a_en_Zonas_No_Interconectadas.csv')
zni_df.head()

,ID DEPATAMENTO,DEPARTAMENTO,ID MUNICIPIO,MUNICIPIO,ID LOCALIDAD,LOCALIDAD,AÑO SERVICIO,MES SERVICIO,ENERGÍA ACTIVA,ENERGÍA REACTIVA,POTENCIA MÁXIMA,DÍA DE DEMANDA MÁXIMA,FECHA DE DEMANDA MÁXIMA,PROMEDIO DIARIO EN HORAS
0,91,AMAZONAS,91001,LETICIA,91001000,LETICIA (LETICIA - AMAZONAS),2020,1,3930642,1251191,7768.76,lunes,01/27/2020 02:15:00 PM,24.00
1,91,AMAZONAS,91540,PUERTO NARIÑO,91540000,PUERTO NARIÑO (PUERTO NARIÑO - AMAZONAS),2020,1,103897,36304,227.04,miércoles,01/22/2020 07:15:00 PM,24.00
2,91,AMAZONAS,91798,TARAPACÁ (ANM),91798000,TARAPACÁ (TARAPACÁ (ANM) - AMAZONAS),2020,1,22864,9277,88.96,jueves,01/30/2020 07:30:00 PM,10.19
3,5,ANTIOQUIA,5873,VIGÍA DEL FUERTE,5873001,SAN ANTONIO DE PADUA (VIGÍA DEL FUERTE - ANTIO...,2020,1,5617,1381,53.66,jueves,01/23/2020 07:45:00 PM,4.13
4,5,ANTIOQUIA,5873,VIGÍA DEL FUERTE,5873002,VEGÁEZ (VIGÍA DEL FUERTE - ANTIOQUIA),2020,1,2217,539,39.07,miércoles,01/29/2020 07:45:00 PM,3.17

In [10]:
zni_df.shape

(3294, 14)

In [17]:
zni_df.describe().round(2)

,ID DEPATAMENTO,ID MUNICIPIO,ID LOCALIDAD,AÑO SERVICIO,MES SERVICIO,ENERGÍA ACTIVA,ENERGÍA REACTIVA,POTENCIA MÁXIMA,PROMEDIO DIARIO EN HORAS
count,3294.00,3294.00,3294.00,3294.00,3294.00,3294.00,3294.00,3294.00,3294.00
mean,45.60,46008.68,46008728.48,2021.28,6.05,362813.09,107249.12,1838.50,12.02
std,29.16,29131.14,29131133.84,1.02,3.46,1786971.21,476742.23,48127.98,7.34
min,5.00,5873.00,5873000.00,2020.00,1.00,0.00,0.00,0.00,0.00
25%,19.00,19809.00,19809026.00,2020.00,3.00,5402.00,2113.25,34.77,6.30
50%,27.00,27800.00,27800000.00,2021.00,6.00,13365.00,5625.50,75.90,8.54
75%,52.00,52835.00,52835217.00,2022.00,9.00,83970.25,30803.50,223.80,19.28
max,99.00,99773.00,99773000.00,2023.00,12.00,18597794.00,4904871.00,2694319.00,24.00

In [7]:
# get the number of missing data points per column
missing_values_count = zni_df.isnull().sum()

# look at the # of missing points in the first ten columns
missing_values_count[0:10]

ID DEPATAMENTO      0
DEPARTAMENTO        0
ID MUNICIPIO        0
MUNICIPIO           0
ID LOCALIDAD        0
LOCALIDAD           0
AÑO SERVICIO        0
MES SERVICIO        0
ENERGÍA ACTIVA      0
ENERGÍA REACTIVA    0
dtype: int64

In [8]:
# Count zeros in each column
zeros_per_column = (zni_df == 0).sum()
print("Zeros per column:")
print(zeros_per_column)

Zeros per column:
ID DEPATAMENTO               0
DEPARTAMENTO                 0
ID MUNICIPIO                 0
MUNICIPIO                    0
ID LOCALIDAD                 0
LOCALIDAD                    0
AÑO SERVICIO                 0
MES SERVICIO                 0
ENERGÍA ACTIVA              15
ENERGÍA REACTIVA            20
POTENCIA MÁXIMA             14
DÍA DE DEMANDA MÁXIMA        0
FECHA DE DEMANDA MÁXIMA      0
PROMEDIO DIARIO EN HORAS    18
dtype: int64